.planet-desktop-tabs-item {
    max-width: 350px;
    height: 48px;
    margin-bottom: 16px;
    cursor: pointer;
    list-style-type: none;
    padding: 0 28px;
}

.planet-desktop-tabs-item a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
}
.planet-desktop-tabs-item-is-active {
    border: none;
}
.planet-desktop-tabs-item:hover {
    background-color: var(--hover-background);
    border: none;
}
/*mobile styles*/
.planet-mobile-tabs {
    display: none;
}

.planet-mobile-tabs-item {
    position: relative;
    height: 50px;
}

.planet-mobile-tabs-item.is-active::before {
    content: '';
    display: flex;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width: 730px) {
    .planet-desktop-tabs {
        display: none;
    }
    .planet-mobile-tabs {
        padding: 0 24px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        min-height: 50px;
    }
    .planet-mobile-tabs a {
        text-decoration: none;
        color: #FFFFFF;
        opacity: 0.5;
        font-size: 12px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .planet-mobile-tabs-active-link a {
        opacity: 1;
    }
}