.planet-desktop-tab {
    max-width: 350px;
    height: 48px;
    margin-bottom: 16px;
    cursor: pointer;
    list-style-type: none;
}
.planet-desktop-tab span {
    padding: 0 28px;
    opacity: 0.5;
}
.planet-desktop-tab a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
}
.planet-desktop-tab-is-active {
    border: none;
}
.planet-desktop-tab:hover {
    background-color: var(--hover-background);
    border: none;
}